body{
    font-family: Arial;
    margin: 0;
}
    
    img{
        width: 75%; 
    }

    .bilde{
        width: 50%;
    }

    .litebilde{
        width: 5%;
    }
    
.Top-left{
    padding: 10px;
    text-align: left;
    background: blue;
    color: white;
    font-size: 30px;
}
.Top-right{
    padding: 10px;
    text-align: right;
    background: green;
    color: white;
    font-size: 30px;   
}
.Bot-left{
    padding: 10px;
    text-align: left;
    background: yellow;
    color: white;
    font-size: 30px;
}
.Bot-right{
    padding: 10px;
    text-align: right;
    background: pink;
    color: white;
    font-size: 30px;
}

/* comment out */
h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif
}

.h2{ 
    color: purple
}
p{
    font-size: 50%;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color
}

h3{ 
    color: red
    
}
.dotted{
    border-style: dotted;
    background-color: burlywood;
}